
<div class="content" style=" background-color: rgb(242, 244, 245);">

    <div class="p-2 table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-striped table-bordered table-sm p-2">
          <thead>
            <tr class="table-info">    
              <th scope="col" class="text-center">Fecha Deuda</th>              
              <th scope="col" class="text-center">Monto Deuda $</th>
              <th scope="col" class="text-center">Valor $ </th>
              <th scope="col" class="text-center">Monto Deuda Bs.</th> 
                
            </tr>
          </thead>
          <tbody class="table-group-divider">    
            <tr  >      
              <td class="text-center">{{ fecha }}</td>
              <td class="text-center">{{ monto }}</td>
              <td class="table-danger text-center"> {{ dolar }}</td>
              <td class="text-center">{{ monto * dolar  | number : '1.2-2'}}</td>             
            </tr>
          </tbody>
        </table>
    </div>


    <div class="p-2" >            
        <button  type="button" (click)="mostrar()"    class="btn btn-warning">ingresar Pago</button>
    </div>






<ng-template [ngIf]="display">    
    <form [formGroup]="registerForm" (ngSubmit)="submitData()">
        <fieldset>
            
          
          <div class="p-2 form-group">

            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" name="fecha"   formControlName="fecha" [(ngModel)]="fechaPago" autocomplete="off">
            <div class="errors-container" *ngIf="fechaControl.invalid && (fechaControl.touched || fechaControl.dirty)" >
                <p class="text-danger" *ngIf="fechaControl.hasError('required')">El campo es obligatorio</p>  
            </div>

            <label for="monto" class="form-label">Monto</label>
            <input type="number" [(ngModel)]="montoPago " class="form-control" name="monto"   formControlName="monto"   autocomplete="off" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"  placeholder="Monto (0.00)">

           
            <div class="errors-container" *ngIf="montoControl.invalid && (montoControl.touched || montoControl.dirty)" >
                <p class="text-danger" *ngIf="montoControl.hasError('required')">El campo es obligatorio</p>  
            </div>

            <!--<label for="valor" class="form-label">Banco</label>
            <input type="text" class="form-control" name="banco"   formControlName="banco" [(ngModel)]="bancoPago"    autocomplete="off">-->
            
            
            <label for="bancoS" class="form-label">Banco Origen</label>
            <select class="form-select"   name="bancos" (change)="onChange($event)">
                <option  *ngFor="let bancos of listadoDeBancos" value="{{ bancos.valorParametro }}">{{ bancos.nombreParametro }}</option>                 
            </select>
            
            <!--<div class="errors-container" *ngIf="bancosControl.invalid && (bancosControl.touched || bancosControl.dirty)" >
                <p class="text-danger" *ngIf="bancosControl.hasError('required')">El campo es obligatorio</p>  
            </div>-->

            <label for="referencia" class="form-label">Referencia</label>
            <input type="text" class="form-control" name="referencia"   formControlName="referencia"  [(ngModel)]="referenciaPago"  autocomplete="off">
            <div class="errors-container" *ngIf="referenciaControl.invalid && (referenciaControl.touched || referenciaControl.dirty)" >
                <p class="text-danger" *ngIf="referenciaControl.hasError('required')">El campo es obligatorio</p>  
            </div>            

          </div>          

          <div class="p-2" >            
            <button [disabled]="registerForm.invalid" type="submit"   class="btn btn-primary">Registrar</button>
          </div>
          
          
        </fieldset>
    </form>
</ng-template>     

    <div class="p-2" *ngIf="estado" class="alert alert-dismissible alert-danger mt-10">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>  
      <strong>Importante!</strong> su pago ha sido registrado, de 24 a 48 horas recibirá un correo de confirmación. Gracias!
    </div>

    <div class="h6 p-2" >
        <strong>Importante!</strong> en la tabla de abajo encontrará los últimos 12 pagos realizados ordenados por fecha de mayor a menor.
   </div>
    
    <div class="p-2 table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-striped table-bordered table-sm p-2">
        <thead>
          <tr>    
            <th scope="col" class="text-center" >Fecha</th>
            <th scope="col" class="text-center" >Referencia</th>
            <th scope="col" class="text-center" >Monto Bs.</th>
            <th scope="col" class="text-center" >Estatus</th>            
          </tr>
        </thead>
        <tbody class="table-group-divider">    
          <tr *ngFor="let pagos of listadoDePagos" >      
            <td align="center">{{ pagos.fecha }}</td>
            <td align="center">{{ pagos.referencia }}</td>
            <td align="right">{{ pagos.monto }}</td>
            <td *ngIf="pagos.estatus=='PENDIENTE'" class="table-danger text-center">{{ pagos.estatus }}</td>
            <td *ngIf="pagos.estatus!='PENDIENTE'" class="table-success text-center" >{{ pagos.estatus }}</td>
            
          </tr>
        </tbody>
      </table>
  </div>


</div>

