<div class="row">

    <!--<form (ngSubmit)="enviarToken()" novalidate>-->
    <form (ngSubmit)="enviarUsuario()" class="was-validated">

      <div class="mb-3">
        <label for="validationInputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" name="validationInputEmail" [(ngModel)]="correoIngresado"   required>
        <div class="valid-feedback">
          Todo Bien!
        </div>
        <div class="invalid-feedback">
          Por favor ingrese correctamente el correo eléctronico!
        </div>
      </div>

      <div class="mb-3">
        <label for="validationInputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" name="validationInputPassword" [(ngModel)]="passwordIngresado" required>
        <div class="valid-feedback">
          Todo Bien!
        </div>
        <div class="invalid-feedback">
          Por favor ingrese correctamente el password!
        </div>
      </div>

      <div class="mb-3">
        <label for="validationInputPasswordConfirmacion" class="form-label">Confirmacion Password</label>
        <input type="password" class="form-control" name="validationInputPasswordConfirmacion" [(ngModel)]="passwordIngresadoConfirmacion" required>
        <div class="valid-feedback">
          Todo Bien!
        </div>
        <div class="invalid-feedback">
          Por favor ingrese correctamente ña confirmacion del password!
        </div>
      </div>

      <div class="mb-3">
        <label for="validationInputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="validationInputNombre" [(ngModel)]="nombreIngresado" required>
        <div class="valid-feedback">
          Todo Bien!
        </div>
        <div class="invalid-feedback">
          Por favor ingrese correctamente el nombre!
        </div>
      </div>

      <div class="mb-3">
        <label for="validationSelectPiso" class="form-label">Piso</label>
        <select class="form-select" name="validationSelectPiso" [(ngModel)]="pisoIngresado" required>
          <option value="" selected>Seleccione uno</option>
          <option value="0">PB</option>
          <option value="1">Uno</option>
          <option value="2">Dos</option>
          <option value="3">Tres</option>
        </select>

        <div class="valid-feedback">
          Todo Bien!
        </div>
        <div class="invalid-feedback">
          Por favor seleccione un piso!
        </div>
      </div>

      <div class="mb-3">
        <label for="validationSelectApartamento" class="form-label">Apartamento</label>
        <select class="form-select" name="validationSelectApartamento" [(ngModel)]="apartamentoIngresado" required>
          <option value="" selected>Seleccione uno</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
        </select>

        <div class="valid-feedback">
          Todo Bien!
        </div>
        <div class="invalid-feedback">
          Por favor seleccione un número de apartamento!
        </div>
      </div>


      

      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>


      
       
    </form>


</div>

