
<ng-template #contenido let-modal>

    <!--Mensaje de confirmacion-->
    <div *ngIf="resultado!=''; else Show">
        <div  class="modal-header">
            <h5 class="modal-title">Información Importante!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss();cerrar()">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <p>Usuario Registrado Satisfactoriamente!</p>
        </div>
        <div class="modal-footer">              
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss();cerrar()">Close</button>
        </div>
    </div>
    <!--Formulario donde se captura la informacion-->    
    <ng-template #Show>
            <div class="modal-header">
                <h4 class="modal-title">Registrarse:</h4>
                <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>  

            <div class="modal-body ">
                <app-registro (parametros) = 'registroUsuario($event)'></app-registro>    
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-success" (click)="modal.close()">ok</button>-->
                <!--<a href="/registro" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Registrarse</a>-->
            <!--<a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">Link</a>-->
            </div>
    </ng-template>        

</ng-template>

<button type="button" class="btn btn-danger" (click)="modalRegistro.open(contenido)">Registrarse</button>