<div *ngIf="existeCorreo==''; else Mensaje">

<form [formGroup]="registerForm"  (ngSubmit)="buscarEmail()"  class="" autocomplete="nope">  

    

<div class="mb-3 row">
    <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="validationInputEmail" [(ngModel)]="correoIngresado"   formControlName="email"  autocomplete="off">
        <div class="errors-container" *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)" >
          <!--<p class="text-danger" *ngIf="emailControl.hasError('required')">El campo es obligatorio</p>-->
          <p class="text-danger" *ngIf="emailControl.hasError('email')">El campo debe ser un email valido</p>
        </div>       
    </div>    
</div>

  <div >
    <p class="text-danger" *ngIf="existeCorreo !='' && existeCorreo==false" > La cuenta de correo ingresada no existe</p>          
  </div>

  <div class="row">
    <div class="col-2"><button  [disabled]="registerForm.invalid" class="btn btn-primary " type="submit">Enviar</button></div>
    <div class="col-2"><button   class="btn btn-danger" type="button" (click)="return()">Cancelar</button> </div>    
  </div>


</form>

</div>




<ng-template #Mensaje>

    
    <div class="modal-body">
        <p>Por favor revise su correo electronico!</p>
    </div>
  
    <div class="col-12">
        <button  class="btn btn-primary" type="button" (click)="return()">Aceptar</button>
    </div>

</ng-template>