
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Acceder al Sistema:</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">

            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
       
        <app-formulario></app-formulario>

    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-success" (click)="modal.close()">ok</button>-->
       
       <!--<a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">Link</a>-->
    </div>
</ng-template>

<button type="button" class="btn btn-info me-5" (click)="modal.open(contenido)">Ingresar</button>


