
 <div *ngIf="actualizado==''; else Mensaje">
<form [formGroup]="registerForm" (ngSubmit)="actualizarPassword()"  class="" >   

<div class="mb-3">
    <label for="validationInputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="validationInputPassword" [(ngModel)]="passwordIngresado" formControlName="password" maxlength="15">
    <div class="errors-container" *ngIf="passwordControl.invalid && (passwordControl.touched || passwordControl.dirty)" >
      <p class="text-danger" *ngIf="passwordControl.hasError('required')">El campo es obligatorio</p>  
      <p class="text-danger" *ngIf="passwordControl.hasError('pattern')">El valor debe tener de 6 a 15 de largo, numeros y letras</p>        
    </div>
  </div>

  <div class="mb-3">
    <label for="validationInputPasswordConfirmacion" class="form-label">Confirmacion Password</label>
    <input type="password" class="form-control" name="validationInputPasswordConfirmacion" [(ngModel)]="passwordIngresadoConfirmacion" formControlName="passwordConfirm" maxlength="15">        
      <div class="errors-container" *ngIf="passwordConfirmControl.invalid && (passwordConfirmControl.touched || passwordConfirmControl.dirty)"   >                   
      <p class="text-danger" *ngIf="registerForm.hasError('passwordsMustBeEqual')">El password es diferente</p>                  
    </div>
</div>

<div class="col-12">
    <button [disabled]="registerForm.invalid" class="btn btn-primary" type="submit">Submit form</button>
  </div>

</form>

</div>

<ng-template #Mensaje>

    
    <div class="modal-body">
        <p>Password Actualizado Satisfactoriamente!</p>
    </div>
  
    <div class="col-12">
        <button  class="btn btn-primary" type="button" (click)="volver()">Aceptar</button>
    </div>

</ng-template>

